@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/roboto/v18/Hgo13k-tfSpn0qi1SFdUfaCWcynf_cDxXwCLxiixG1c.ttf) format('truetype')
}

body {
  font-size: 10px;
  font-family: Roboto;
  min-width:320px;
  font-size: 1em;
}

* {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  margin: 0;
  padding: 0;
}

/* ------------------------------------------------------------- */
.container{
  width:100%;
}

.education-bg {
  background-image: url('../media/img/education-BG.jpg');
}

.education{
  width:90%;
  margin: 0 auto;
  padding: 30px 10px;
}

.educa-cart {
  box-shadow: 3px 3px 10px 5px #985f69, 0 0 4px rgba(0, 0, 0, .5) inset;
  padding: 20px 5px;
  margin:15px;
  width:450px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start !important;
  align-items: center !important;
}

.educa-logo{
  width:80px;
  height: 80px;
  padding:0 5px 0 10px;
}

.educa-content {
  width:70%;
  padding: 0 5px;
} 

.educa-content >h5{
  text-align: end;
  margin-bottom: 10px;
  color:black;
}

.experience-bg {
  background-image: url('../media/img/skill-BG.jpg');
}

.flex-row{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: stretch;
}

.logos{
  width: 95%;
  margin:90px auto 20px;
}

.logos > *{
  width: 12%;
  padding: 0.6em;
}

.nav-top{
  width:100%;
  background-color: rgba(0, 0, 0, 1);
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 100;
}

.nav-top > a{
  display:block;
  color: white !important;
  padding:20px 10px;
  cursor: pointer;
}

.nav-top > a:hover{
  background-color: #FD3D50;
}

.paralax {
  background-attachment: fixed;
  background-position: left center;
  background-size: cover;
  width: 100%;
  min-height: 40vh;
}

.skill{
  text-align: justify;
  width: 90%;
  margin: 0 auto;
  padding:10px;
}

@media only screen and (max-width:450px){
  .educa-cart {
     display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center !important;
  }

  .educa-content {
    width:90%;
  } 
  
}