@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/roboto/v18/Hgo13k-tfSpn0qi1SFdUfaCWcynf_cDxXwCLxiixG1c.ttf) format('truetype')
}

body {
  font-size: 10px;
  font-family: Roboto;
  min-width:320px;
  font-size: 1em;
}

* {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  margin: 0;
  padding: 0;
}

/* ------------------------------------------------------------- */
.container{
  width:100%;
  overflow: hidden;
}

.flex-row{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.flex-column{
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.hidden{
  display: none !important;
}

.paralax {
  background-attachment: fixed;
  background-position: left center;
  background-size: cover;
  width: 100%;
}

/* Start header section _____________________________*/
.collapse i{
  color:white;
  cursor:pointer;
  padding:20px;
}

.normal{
  display:none;
}

.nav-top{
  width:100%;
  background-color: rgba(0, 0, 0, 1);
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 100;
  display:flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border-bottom: 1px solid white;
}

.normal > a, .collapse nav > a{
  display:block;
  color: white !important;
  margin:0 10px;
  padding: 10px 10px 20px;
  cursor: pointer;
  font-size: 12px;
}

.collapse nav > a{
  font-size: 16px !important;
}

.collapse nav {
  display:none;
}

.normal a.active, .collapse nav a.active  {
  background-color: #FD3D50;
}

.flags{
  margin-right: 5px;
  padding-top:5px;
}

.flags >img{
  width:30px;
  cursor:pointer;
}

.logos{
  width: 95%;
  margin:90px auto 20px;
}

.logos > *{
  width: 12%;
  padding: 0.6em;
}
/* End header section _____________________________*/

/* Start skill section _____________________________*/
.skill{
  padding: 80px 0px;
  text-align: justify;
  line-height: 23px;
}

.skill >p{
  width:80%;
  margin:0 auto;
  color: whitesmoke;
}

.skill-bg {
  background-image: url('../media/img/skill-BG.jpg');
}
/* End skill section _____________________________*/

/* Start education section _____________________________*/
.education-bg {
  background-image: url('../media/img/education-BG.jpg');
}

.education{
  padding: 30px 10px;
}

.educa-cart {
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 20px 5px;
  margin:15px;
  width:450px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start !important;
  align-items: center !important;
}

.educa-logo{
  width:80px;
  height: 80px;
  padding:0 5px 0 10px;
}

.educa-content {
  width:70%;
  padding: 0 5px;
} 

.educa-content >h5{
  text-align: end;
  margin-bottom: 10px;
  color:black;
}
/* End education section _____________________________*/

/* Start experience section _____________________________*/
.experience{
  padding-top: 50px;
}

.experience-bg {
  background-image: url('../media/img/experience-BG.jpg');
}

.timeline {
  list-style: none;
  margin-left: 5rem;
  border-left: 5px solid black;
  padding: 1rem 0;
}

.tldate {
  display: block;
  width: 70px;
  margin-left: -1rem;
  padding: 0.5rem;
  background-color: #d60606;
  border: 1px solid #000;
  border-radius: 50%;
  color: #FFF;
  font-weight: bold;
  text-align: center;
}

.timeline li {
  margin-bottom: 1.5rem;
}

.timeline-panel {
  width: 70%;
  max-width: 800px;
  position: relative;
  padding: 1rem;
  margin-left: 1.3rem;
  background-color: #fff;
  border: 1px solid #d60606;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 1px 6px rgba(214, 6, 6, 1);
  -moz-box-shadow: 0 1px 6px rgba(214, 6, 6, 1);
  box-shadow: 0 1px 6px rgba(214, 6, 6, 1);
}

.timeline-panel-close {
  max-width: 320px !important;
}

.timeline-panel:before {
  display: inline-block;
  position: absolute;
  top: 17px;
  left: -1.3rem;
  border-top: 1.3rem solid transparent;
  border-right: 1.3rem solid #d60606;
  border-bottom: 1.3rem solid transparent;
  content: " ";
}

.timeline-panel h4 {
  margin: 0;
  color: #03715e;
}

.duration, .timeline-panel h4, .timeline-panel h4+p {
  padding-right: 0.5rem;
}

.exp-show{
  padding-top:10px;
}

.exp-show :hover {
  color: #d60606;
  cursor: pointer;
}

.exp-list {
  display: none;
  width: 90%;
  margin-left: 5%;
}

.exp-list>p::before {
  content: "-";
  padding-right: 0.5rem;
}

/* End experience section _____________________________*/

/* Start proyect and contribution section _____________________________*/
.contributions-bg {
  background-image: url('../media/img/contribution-BG.jpg');
}

.projects-bg {
  background-image: url('../media/img/proyect-BG.jpg');
}

.projects, .contributions{
  padding:40px 0px;
}

.projects  > figure , .contributions > figure{
  width: 14rem;
  height: 14rem;
  position: relative;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.projects  > figure:hover a , .contributions  > figure:hover a{
  opacity: 0.8;
}

.projects > figure > img, .contributions > figure > img {
  width: 100%;
}

.projects > figure > a, .contributions > figure > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 90%;
  padding: 5%;
  opacity: 0;
  color: #fff;
  background: #000;
  -webkit-transition: opacity 800ms;
  -moz-transition: opacity 800ms;
  -o-transition: opacity 800ms;
  transition: opacity 800ms;
  text-align: justify;
  line-height: 25px;
}
/* End proyect  and contribution section _____________________________*/

/* Start footer _____________________________*/

footer {
  width: 100%;
  background-color: #000;
  height: 100vh;
}

footer p, footer i {
  color: #fff;
}

footer i {
  margin-right: 15px;
}

footer nav {
  width: 100%;
  padding-top: 1em;
}

footer nav i:hover {
  color: #d60606;
}

.copyright {
  text-align: center;
  padding: 2%;
}

.contact {
  padding: 10px 0 10px 0;
  width: 100%;
  border-bottom: 2px solid #FFF;
}

.contact article {
  line-height: 25px;
}

#p-photo {
  width: 7em;
  border-radius: 50%;
  padding: 1%;
}
/* End footer _____________________________*/


/* Media Queries -------------------------------------------------------------- */
@media only screen and (max-width:450px){
  .educa-cart {
     display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center !important;
  }

  .educa-content {
    width:90%;
  } 
}

@media only screen and (min-width:420px){
  .skill {
    line-height: 40px;
    font-size: 20px;
  }
}

@media only screen and (min-width:580px){
  .normal > a{
    font-size: 16px;
  }
  .collapse{
    display:none;
  }
  .normal{
    display:flex;
  }
}
