.timeline {
  list-style: none;
  margin-left: 4.5rem;
  border-left: 2px solid black;
  margin-top: 1rem;
}

.tldate {
  display: block;
  width: 7rem;
  margin-left: -4rem;
  padding:0.5rem;
  background-color: #d60606;
  border: 1px solid #000;
  border-radius: 50%;
  color: #FFF;

  font-weight: bold;
  text-align: center;
  -webkit-box-shadow: 0 0 17px rgba(221, 0, 0, 0.83);
}

.timeline li {
  margin-bottom: 1.5rem;
}

.timeline-panel {
  width: 70%;
  position: relative;
  padding: 1rem;
  margin-left: 1.3rem;
  background-color: #fff;
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
}

.timeline-panel:before {
  display: inline-block;
  position: absolute;
  top: 17px;
  left: -1.3rem;
  border-top: 1.3rem solid transparent;
  border-right: 1.3rem solid #ccc;
  border-bottom: 1.3rem solid transparent;
  content: " ";
}

.tl-heading  {
  margin: 0;
  color: #c25b4e;
}
